/* 
Name the Color App
author: D.Kisler <admin@dkisler.de>
CSS */

/* header */
.skin-blue .main-header .logo {
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); /* rainbow fill */
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.skin-blue .main-header .logo:hover {
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

/* navbar header */
.skin-blue .main-header .navbar {
  min-height: 0;
}

/* color selecor box */
#col_palette.form-control {
  height: 90px;
}

#col_palette_sel {
  font-size: 18px;
}

/* hex in/out field */
#hex_in.form-control {
  height: 40px;
  font-size: 20px;
  text-align: center;
}

/* input color name to guess */
#col_name.form-control {
  height: 34px;
  font-size: 20px;
  text-align: center;
}

/* slider color */

.irs-bar {
  border-top: 1px solid #009C88;
  border-bottom: 1px solid #009C88;
  background: #009C88;
}

.irs-bar-edge {
  border: 1px solid #009C88;
  background: #009C88;
}

.irs-from, .irs-to, .irs-single {
  background: #009C88;
}

#final_text {
  text-align: center;
}

/* Add color popup */

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #009C88;
  border-top-color: #009C88;
}

/* Box headers */

.box-header {
    text-align: center;
    color: #fff;
    background: #009C88;
    background-color: #009C88;
}